ol,ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.app{
  border: 1px solid gray;
  border-radius: 3px;
  background: white;

  padding: 0 1em; 

  min-width: 40vw;
  min-height: 90vh;
  margin: 2em;

  box-shadow: 0 0 1em rgba(0,0,0,0.2);
}